
<div class="row">
	<div class="span12">
	  <h2>Demo Signup Form</h2>
		<div id="subscribe" style="margin-top:20px">
			<form id="signup_form" class="form-horizontal">
			  <div class="control-group">
			    <label class="control-label" for="email">Email</label>
			    <div class="controls">
			      <input class="input-xlarge" type="text" id="email" name="email" placeholder="Email">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="comment">Comment</label>
			    <div class="controls">
			      <textarea class="input-xlarge" rows="5" id="comment" name="comment" placeholder="What's on your mind?"></textarea>
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
			      <button type="submit" id="submit_signup" name="submit_signup" class="btn btn-success">Sign Up</button>
			    </div>
			  </div>
			</form>
		</div>


	</div>
</div>

<div class="row">
	<div class="span12">
	  <h2>Need more help?</h2>
		<p><a href="https://support.kickofflabs.com" class="btn primary large">Contact KickoffLabs Support &raquo;</a></p>
	</div>
</div>

<script id="subscription_message" type="text/hogan">
	<div class="alert alert-success">
		<p>Thank you for signing up.</p>
    <p>Please share this link <a href="{{social_url}}">{{social_url}}</a></p>
	</div>
</script>
<script>

	$(document).ready(function(){

		$('#submit_signup').click(function(e){
			$.ajax({
				url: 'https://api.kickofflabs.com/v1/1905/subscribe',
				data: $('#signup_form').serialize(),
				dataType: 'jsonp',
				jsonp: 'jsonp',
				jsonpCallback: 'subscribe_callback',
				timeout: 5000,
				error: function() {
					message = 'Could not subscribe the email address ' + $('#email').val();
					alert(message);
				}
				});
			e.preventDefault();
		});

	});

	function subscribe_callback(data)
	{
    var template = `
			<div class="alert alert-success">
				<p>Thank you for signing up!</p>
    		<p>Please share this link <a href="${data.social_url}">${data.social_url}</a></p>
			</div>
	`
		$('#subscribe').html(template);
	}

</script>
